{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
      <div id="content">
        <div class="container">
          <div id="error-page" class="col-md-8 mx-auto text-center">
            <div class="box">
              <p class="text-center"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Obaju template"></a></p>
              <h3>We are sorry - this page is not here anymore</h3>
              <h4 class="text-muted">Error 404 - Page not found</h4>
              <p class="buttons"><a href="{% url 'index' %}" class="btn btn-template-outlined"><i class="fa fa-home"></i> Go to Homepage</a></p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}