{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Contact</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div id="contact" class="container">
          <div class="row">
            <div class="col-lg-8">
              <section class="bar">
                <div class="heading">
                  <h2>We are here to help you</h2>
                </div>
                <p class="lead">Are you curious about something? Do you have some kind of problem with our products? As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built gay party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
                <p class="text-sm">Please feel free to contact us, our customer service center is working for you 24/7.</p>
                <div class="heading">
                  <h3>Contact form</h3>
                </div>
                <form action="{% url 'contact' %}" method="POST" autocomplete="off" name="contact">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="first_name">Firstname</label>
                        <input id="first_name" type="text" class="form-control" name="first_name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="last_name">Lastname</label>
                        <input id="last_name" type="text" class="form-control" name="last_name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="subject">Subject</label>
                        <input id="subject" type="text" class="form-control" name="subject">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control" name="message"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-template-outlined"><i class="fa fa-envelope-o"></i> Send message</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
            <div class="col-lg-4">
              <section class="bar mb-0">
                <h3 class="text-uppercase">Address</h3>
                <p class="text-sm">13/25 New Avenue<br>New Heaven<br>45Y 73J<br>England<br><strong>Great Britain</strong></p>
                <h3 class="text-uppercase">Call center</h3>
                <p class="text-muted text-sm">This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
                <p><strong>+33 555 444 333</strong></p>
                <h3 class="text-uppercase">Electronic support</h3>
                <p class="text-muted text-sm">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                <ul class="text-sm">
                  <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
                  <li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>
                  {% for message in messages %}
                    <li class="{{ message.tags }}">
                    {% if 'safe' in message.tags %}
                      <h4>{{ message|safe }}</h4>
                    {% else %}
                      <h4>{{ message }}</h4>
                    {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </section>
            </div>
          </div>
        </div>
        <div id="map"></div>
      </div>
{% endblock %}