{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Portfolio</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Portfolio</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <section class="bar">
            <div class="row">
              <div class="col-md-12">
                <div class="heading">
                  <h2>Portfolio</h2>
                </div>
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              </div>
            </div>
            <div class="row portfolio text-center no-space">
              <div class="col-md-3">
                <div class="box-image">
                  <div class="image"><img src="{% static 'img/portfolio-1.jpg' %}" alt="" class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center">
                      <div class="content">
                        <div class="name mb-small">
                          <h3><a href="portfolio-detail.html" class="color-white">Portfolio item</a></h3>
                        </div>
                        <div class="text">
                          <p class="d-none">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                          <p class="buttons"><a href="portfolio-detail.html" class="btn btn-template-outlined-white">View</a><a href="#" class="btn btn-template-outlined-white">Website</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
        </div>
        <section class="bar background-pentagon no-mb">
          <div class="container">
            <div class="row showcase text-center">
              <div class="col-md-3 col-sm-6">
                <div class="item">
                  <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
                  <h4><span class="h1 counter">580</span><br> Websites</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item">
                  <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
                  <h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item">
                  <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
                  <h4><span class="h1 counter">320</span><br>Projects</h4>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="item">
                  <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-font"></i></div>
                  <h4><span class="h1 counter">923</span><br>Magazines and Brochures</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bar bg-gray">
          <div class="container">
            <div class="heading text-center">
              <h2>Our Clients</h2>
            </div>
            <ul class="list-unstyled owl-carousel customers no-mb">
              <li class="item"><img src="{% static 'img/customer-1.png' %}" alt="" class="img-fluid"></li>
              <li class="item"><img src="{% static 'img/customer-2.png' %}" alt="" class="img-fluid"></li>
              <li class="item"><img src="{% static 'img/customer-3.png' %}" alt="" class="img-fluid"></li>
              <li class="item"><img src="{% static 'img/customer-4.png' %}" alt="" class="img-fluid"></li>
              <li class="item"><img src="{% static 'img/customer-5.png' %}" alt="" class="img-fluid"></li>
              <li class="item"><img src="{% static 'img/customer-6.png' %}" alt="" class="img-fluid"></li>
            </ul>
          </div>
        </section>
      </div>
{% endblock %}