 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 <div id="heading-breadcrumbs">
	<div class="container">
		<div class="row d-flex align-items-center flex-wrap">
			<div class="col-md-7">
				<h1 class="h2">Feed RSS</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Feed RSS</li>
              </ul>
            </div>
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<section class="bar">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading">
						<h2>Feed RSS</h2>
					</div>          
					{% if feeds %}
					<ol>
						{% for web in feeds.entries %}
							<li><a href="{{ web.link }}">{{ web.title }}</a></li>
						{% endfor %}
					</ol>
					{% endif %}
              </div>
            </div>
        </section>
	</div>
</div>
 {% endblock %}